<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.broscode.wsv.platform.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Stammdaten"
            class="de.broscode.wsv.platform.perspectives.ReferenceData"
            id="de.broscode.wsv.platform.perspectives.referencedata">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.broscode.wsv.platform.views.ResidentList"
            id="de.broscode.wsv.platform.views.residentlist"
            name="Liste aller Bewohner"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.broscode.wsv.platform.application"
            name="WSV">
         <property
               name="appName"
               value="WSV">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Datei">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Speichern"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Alles Speichern"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Schließen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Alles Schließen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  label="Aktualisieren"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Beenden"
                  style="push">
            </command>
         </menu>
         <menu
               label="Bearbeiten">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Rückgängig"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Wiederholen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Ausschneiden"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Kopieren"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Einfügen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Löschen"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.broscode.wsv.platform.toolbar"
               label="Toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Speichern"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  label="Aktualisieren"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.broscode.wsv.platform.views.residentlist">
         <command
               commandId="de.broscode.wsv.platform.commands.residentedit"
               label="Bewohner bearbeiten"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Löschen"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="de.broscode.wsv.platform.views.residentlist">
               </equals>
            </with>
         </activeWhen>
         <class
               class="de.broscode.wsv.platform.handlers.RefreshHandler">
         </class>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="de.broscode.wsv.entities.Resident">
                  </instanceof>
               </iterate>
            </with></enabledWhen>
         <class
               class="de.broscode.wsv.platform.handlers.DeleteHandler">
         </class>
      </handler>
      <handler
            class="de.broscode.wsv.platform.handlers.ResidentEditHandler"
            commandId="de.broscode.wsv.platform.commands.residentedit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="de.broscode.wsv.entities.Resident">
                  </instanceof>
               </iterate>
            </with></enabledWhen>
         <class
               class="de.broscode.wsv.platform.handlers.ResidentEditHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.broscode.wsv.platform.commands.residentedit"
            name="Bewohner bearbeiten">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.broscode.wsv.platform.editors.ResidentEditor"
            default="false"
            id="de.broscode.wsv.platform.editors.residenteditor"
            name="Bewohner bearbeiten">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="de.broscode.wsv.platform.splashHandlers.InteractiveSplashHandler"
            id="de.broscode.wsv.platform.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="de.broscode.wsv.platform.product"
            splashId="de.broscode.wsv.platform.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
